body {
  background: black;
}

.messages .info {
  color: rgba(255, 255, 255, .6);
}

.messages > div > div {
  overflow-wrap: anywhere;
}

input::selection {
  background-color: #cce2ff !important;
  color: #000000de !important;
}

.dropdown .menu, #catch-the-cat {
  filter: grayscale(1) invert(1);
}