body {
  background: black;
}

.comments .time {
  color: rgba(255, 255, 255, .7) !important;
}

.content > .text {
  color: rgba(255, 255, 255, .9) !important;
}

textarea::selection {
  background-color: #cce2ff !important;
  color: #000000de !important;
}

.dropdown .menu, #catch-the-cat {
  filter: grayscale(1) invert(1);
}

.comment {
  margin: .3em 0 0 !important;
}

.comment .text {
  overflow-wrap: anywhere !important;
  margin: 0 !important;
}