@tailwind utilities;

.error-message {
  @apply pt-1 text-red-500;
}

.vditor-toolbar {
  display: none !important;
}

.room-ready {
  box-shadow: 0.2em 0 0 0 #21ba45 inset;
}

.room-ongoing {
  box-shadow: 0.2em 0 0 0 #2185d0 inset;
}